<a href="https://colab.research.google.com/github/stevenkhwun/EconometricsUsingR/blob/main/ImportCSVfromGitHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import data from GitHub

In [ ]:
import pandas as pd
url = 'https://github.com/stevenkhwun/EconometricsUsingR/raw/main/Data/EAWE21.csv'
df1 = pd.read_csv(url)

In [ ]:
df1

,ID,FEMALE,MALE,BYEAR,AGE,AGEMBTH,HHINC97,POVRAT97,HHBMBF,HHBMOF,...,REGNE,REGNC,REGW,REGS,MSA11NO,MSA11NCC,MSA11CC,MSA11NK,MSA11NIC,EXP
0,8824,0,1,1980,31,29.0,NaN,NaN,1,0,...,1,0,0,0,0,0,1,0,0,12.730770
1,2926,0,1,1982,29,19.0,61900.0,490.0,1,0,...,0,1,0,0,0,1,0,0,0,10.673080
2,1817,0,1,1983,28,29.0,47015.0,251.0,1,0,...,0,0,1,0,0,1,0,0,0,3.000000
3,4813,0,1,1982,29,31.0,112800.0,893.0,1,0,...,1,0,0,0,0,1,0,0,0,6.903846
4,5724,0,1,1981,30,21.0,34700.0,275.0,0,0,...,0,0,1,0,0,1,0,0,0,6.826923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,6175,1,0,1982,29,20.0,48200.0,303.0,0,1,...,0,0,1,0,0,0,1,0,0,3.692308
496,2059,1,0,1980,31,23.0,135500.0,646.0,1,0,...,0,0,1,0,0,1,0,0,0,7.634615
497,1531,1,0,1983,28,34.0,149250.0,938.0,1,0,...,0,0,0,1,0,1,0,0,0,5.557693
498,901,1,0,1984,27,25.0,70000.0,374.0,1,0,...,0,0,0,1,0,0,1,0,0,5.769231
499,4611,1,0,1983,28,18.0,85079.0,406.0,0,1,...,0,0,0,1,0,1,0,0,0,9.711538